@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik-400.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    src: url("../fonts/rubik-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-width: 1440px;
    height:100%;
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #000000;
    background-color: #b8bc86;
}

.header {
    display: flex;
    flex-direction: column-reverse;
    background-color: #d6d9ba;
}

.navigation-list {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin: 20px;
}

.navigation-item {
    margin: 0;
    padding: 0;
    padding: 15px;
    margin: 10px;
    list-style-type: none;
}

.navigation-item-link{
    cursor: pointer;
    text-decoration: none;
    color: #000000;
}

.photo{
    align-self: center;
}

.name-title{
    align-self: center;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section{
    width: 1065px;
    background-color: #d6d9ba;
}

.contacts-title{
   text-align: center;
}

.contacts-list{
    list-style-type: none;
}

.contacts-item{
    padding:5px;
}

.about-me-title{
    text-align: center;
 }
 
 .about-me-text{
    display: block; 
    margin: 15px;
 }

 .skills-title{
    text-align: center;
 }
 
 .skills-list{
     list-style-type: none;
 }
 
 .skills-item{
     padding:5px;
 }

 .code-example-title{
    text-align: center;
 }

 .code-example-area{
     display: block;
     width: 900px;
     height: 60px;
     margin: 0 auto;
     color: #ffffff;
     background-color: #000000;
 }

 .my-projects-title{
    text-align: center;
 }
 
 .my-projects-text{
    display: block; 
    margin: 15px;
 }

 .education-title{
    text-align: center;
 }
 
 .education-text{
    display: block; 
    margin: 15px;
 }

.courses-title{
    text-align: center;
 }
 
 .courses-list{
     list-style-type: none;
 }
 
 .courses-item{
     padding:5px;
 }

 .courses-item-link{
    text-decoration: none;
    color: #000000;
}

.language-title{
    text-align: center;
 }
 
 .language-list{
     list-style-type: none;
 }
 
 .language-item{
     padding:10px;
 }

 .language-item-link{
    text-decoration: none;
    color: #000000;
}
